/* Body */
body {
    background-color: rgba(51, 18, 74, 0.9);
    font-variant: small-caps;
  }
  /* Headers */
  .central-header
  {
    text-align: center;
    margin: 2% 0 0 0;
  }
  /* Activities Carousel */
  #activities-carousel
  {
    width: 60%;
    border: 2px solid white;
    margin: 5% auto;
  }
  
  .activity-link
  {
    text-decoration: none;
  }
  
  /* Navigation Bar */
  .custom-navbar {
    background-image: linear-gradient(darkblue, skyblue);
    padding: 1%;
    margin: 0;
    width: 100%;
    border-bottom: rgb(205, 182, 124) 10px solid;
  }
  
  #navbar-content {
      margin-left: 5%;
      font-weight: bold;
  }
  
  /* Input */
  input[type='email'], input[type='password']
  {
    font-variant: normal;
  }

  /* Buttons */
  
  .btn
  {
    font-variant: small-caps;
    font-weight: bold;
  }
  /* Login Form and Register Form */
  
  .login-form, .register-form
  {
    background-image: linear-gradient(skyblue, darkblue);
    border: 5px solid rgb(205, 182, 124);
    width: 30%;
    margin: 2.5% auto 0;
    text-align: center;
    color: white;
    font-size: larger;
    padding: 5%;
  }
  .login-form
  {
    height: 460px;
  }
  .logout-form
  {
    height: 100px;
  }
  .register-form
  {
    height: 520px;
  }
  
  /* Invalid Input Messages */
  
  .invalid-message
  {
    color: white;
    font-weight: bold;
    font-size: small;
  }

  /* Booking Form - General AND Basket - General*/

  .customize-booking-basics, .customize-booking-extras, .add-booking-to-basket-form
  {
    padding: 1rem;
    margin: 2rem;
    overflow-y: scroll;
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    width: 26rem;
    height: 34rem;
  }
  .booking-basket-button
  {
    margin: 1rem;
  }
  
  /* Booking Form - Time Slots, and Basket/My Account */
  
  .booking-time-slots-section
  {
    padding: 0;
    margin: 0;
  }
  .booking-time-slot-item, .booking-data-item
  {
    padding: 0.5rem;
    margin: 1rem;
    background-image: linear-gradient(skyblue, darkblue);
    border: 2px solid black;
    color: white;
  }
  .booking-time-slot-outer
  {
    padding: 0.25rem;
    background-color: paleturquoise;
    border: 2px solid black;
    margin: 1rem;
  }
  .attendees-outer
  {
    margin: 1rem;
  }
  .too-many-attendees-message
  {
    font-weight: bold;
  }
  .booking-time-slot-outer.invalid-input.selected
  {
    border: 10px solid red;
  }
  .invalid-booking-message
  {
    color: red;
  }
  .selected .booking-time-slot-item .btn
  {
    background-color: lightgray;
  }
  .booking-time-slot-outer.selected
  {
    background-image: linear-gradient(rgb(255, 235, 120), gold);
    border: 10px solid rgb(205, 182, 124);
  }
  /* Booking Form - Extras */
  .snack-item .extra-padding
  {
    padding: 2rem 2rem 2rem 0;
  }
  .snack-item
  {
    padding: 1rem;
  }
  .extras-total-price-section
  {
    position: relative;
  }
  .extras-total-price-section h4
  {
    position: absolute;
    bottom: 0;
  }
  /* Lists */
  li
  {
    list-style: "⭐ ";
  }
  /* Purchase Form */
  .login-required-purchase-message
  {
    color: red;
  }
  .purchase-form
  {
    width: 50%;
    padding: 2rem;
    border: 2px solid black;
    background-color: white;
    margin: 3% auto;
  }
  .purchase-btn
  {
    margin: 2rem 0;
  }
  /* Media Queries */
  @media (max-width: 991px) {
    #navbar-content {
      margin-left: 1%;
    }
    #activities-carousel
    {
      width: 85%;
    }
  }